@import "./partials/reset";
@import "./partials/mixin";
@import "./partials/spacing";
@import "./partials/font";
@import "./partials/colors";
@import "./partials/buttons";
@import "./partials/animations";

h1 {
    @include title-big;
}